@model int
@inject TakagiSugeno.Model.Services.InputsService InputService
@inject TakagiSugeno.Model.Services.OutputsService OutputsService

@{
    ViewBag.Title = "Przegląd systemu";
    //string title = "overview";

}

<div class="row">
    <div class="col-sm-8">
        <h2 class="header">
            @ViewBag.Title
        </h2>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <button class="btn btn-success" id="btnCalc" style="margin-top:20px;"><span class="glyphicon glyphicon-check"></span> Oblicz</button>
            <button class="btn btn-primary" id="" style="margin-top:20px;" disabled><span class="glyphicon glyphicon-save"></span> Zapisz do pliku</button>
            <button class="btn btn-danger" id="btnPublishModal" style="margin-top:20px;" data-toggle="modal" data-target="#publishModal"><span class="glyphicon glyphicon-bullhorn"></span> Opublikuj</button>
        </div>

    </div>
</div>
<br />

<div class="alerts-container">

</div>
<div class="alert alert-success alert-published" hidden>
    <span class="glyphicon glyphicon-remove hide-alert pull-right" onclick="$('.alert-published').hide();"></span>
    <strong>System został opublikowany pomyślnie!</strong>
</div>

<div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary io-overview">
                <div class="panel-heading">
                    <a class="btn btn-success pull-right" asp-controller="Inputs" asp-action="Add" asp-route-systemId="@Model"><span class="glyphicon glyphicon-plus"></span></a>
                    <h4>Wejścia</h4>                  
                </div>
                <div class="panel-body io-overview-body">
                    @{Html.RenderPartial("~/Views/Inputs/List.cshtml", InputService.GetSystemInputs(Model));}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary panel-rules" style="width:200px; margin-top: 180px; margin-left:25%;">               
                <div class="panel-body">
                    <button class="btn btn-primary center-block" id="btnRules" style="height:100%; width:100%; white-space:normal !important;"><span>Takagi Sugeno System (Reguły)</span></button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary io-overview pull-right">
                <div class="panel-heading">
                    <a class="btn btn-success pull-right" asp-controller="Outputs" asp-action="Add" asp-route-systemId="@Model"><span class="glyphicon glyphicon-plus"></span></a>
                    <h4>Wyjścia</h4>
                </div>
                <div class="panel-body io-overview-body">
                    @{Html.RenderPartial("~/Views/Outputs/List.cshtml", OutputsService.GetSystemOutputs(Model));}
                </div>
            </div>
        </div>
    </div>
    
</div>
<div id="removeInputModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usunięcie wejścia.</h4>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć wejście <span id="remove-input-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="removeInput(this, false)">Tak</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Nie</button>
            </div>
        </div>

    </div>
</div>
<div id="removeOutputModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usunięcie wyjścia.</h4>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć wyjście <span id="remove-output-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="removeOutput(this, false)">Tak</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Nie</button>
            </div>
        </div>

    </div>
</div>
<div id="publishModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opublikuj system.</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    <span> Po opublikowaniu nie będzie możliwa edycja systemu.<br />Możliwe będzie przeglądanie, obliczanie wyjść i zapis do pliku. </span>
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Autor:</label>
                        </div>
                        <div class="col-sm-10">
                            <input class="form-control" id="authorInput" maxlength="20"/>
                            <span class="help-block">Pole wymagane. Max 20 znaków.</span>
                        </div>                        
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label">Opis:</label>
                        </div>
                        <div class="col-sm-10">                          
                            <textarea class="form-control" rows="4" maxlength="150" style="resize: none;" id="descInput"></textarea>
                            <span class="help-block">Max 150 znaków.</span>
                        </div>                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPublish" class="btn btn-success" disabled data-dismiss="modal">Opublikuj</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Anuluj</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $("#btnRules").click(function () {
        var id = $("#SysId").attr("data-system-id");
        var url = "/Rules/SystemRules/?systemId=" + id;     
        window.location.href = url;
    });
    $("#btnCalc").click(function () {
        var id = $("#SysId").attr("data-system-id");
        var url = "/OutputCalc/?systemId=" + id;
        window.location.href = url;
    });

    $(document).ready(function () {
        systemStateAlerts();
    });

    function systemStateAlerts() {
        var id = $("#SysId").attr("data-system-id");
        var url = "/SystemOverview/SystemStateAlerts/?systemId=" + id;
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $(".alerts-container").html(response);
                if ($(".rules-alert").length > 0) {
                    $("#btnRules").prop("disabled", true);
                    //$("#rulesLink").addClass("disabled");
                };
                if ($(".calc-alert").length > 0) {
                    $("#btnCalc").prop("disabled", true);
                    $("#btnPublishModal").prop("disabled", true);
                    //$("#calcLink").addClass("disabled");
                };
            }
        })
    }

    $("#authorInput").on("keyup", function () {
        if ($(this).val().length > 0) {
            $("#btnPublish").prop("disabled", false);
        } else {
            $("#btnPublish").prop("disabled", true);
        }
    });

    $("#btnPublish").click(function () {
        setTimeout(function () {
            var vm = collectPublishData();
            $.ajax({
                url: "@Url.Action("Publish", "Systems")",
                type: "POST",
                data: JSON.stringify(vm),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('.alert-published').show();
                }
            });
        }, 200);
    })


</script>