@model TakagiSugeno.Model.ViewModels.OutputCalcVM
@{
}

<div class="row">
    <div class="col-sm-8">
        <h2 class="header">
            Obliczanie wyjść
        </h2>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <button class="btn btn-success" id="btnCalc" style="margin-top:20px;"><span class="glyphicon glyphicon-check"></span> Oblicz</button>
        </div>
    </div>
</div>
<br />
<input asp-for="SystemId" class="form-control" id="SystemIdTemp" type="hidden" />
<div class="row">
    <div class="col-sm-6 inputs-values">
        <h4>Wejścia</h4>
        <form class="form-horizontal">
        @foreach (string input in Model.Inputs)
        {        
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label" data-name="@input">@input:</label>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" value="0"/>
                </div>             
            </div>
        }
        </form>
    </div>
    <div class="col-sm-6">
        <h4>Wyjścia</h4>
        <form class="form-horizontal">
        @foreach (string output in Model.Outputs)
        {
            <div class="form-group">
                <div class="col-sm-2">
                    <label class="control-label">@output:</label>
                </div>
                <div class="col-sm-10">
                    <input class="form-control" onkeydown="return false" tabindex="-1" id="Output-@output" />
                </div>
            </div>

        }
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#btnCalc").click(function () {
        var vm = collectCalcData();
        $.ajax({
            url: "@Url.Action("Calc")",
            type: "POST",
            data: JSON.stringify(vm),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                for (var key in response) {
                    var outId = "Output-" + key;
                    $("#" + outId).val(response[key]);
                }               
            }
        });
    });
</script>


