@model TakagiSugeno.Model.ViewModels.InputVM
@using TakagiSugeno.Model;
@{
    ViewBag.Title = "Wejścia";
}
<h2>
    Szczegóły wejścia @Model.Name
</h2>

    @Html.EditorFor(m => m.Name)
    @Html.HiddenFor(m => m.InputId)
    <h3>Zmienne</h3>
    <div class="row">
        <div class="col-sm-6 variables-list">
                @for (int i = 0; i < Model.Variables.Count; i++)
                {
                    Html.RenderPartial("VariableRow", Model.Variables[i]);
                }
        </div>
        <div class="col-sm-6">
            <div id="chart-container"></div>
        </div>
    </div>
    <button class="btn btn-success" onclick="addVariable()"><span class="glyphicon glyphicon-plus"></span> Dodaj</button>

<script type="text/javascript">

    var id = $(".row #chart-container").attr("id");
    var chart = new CanvasJS.Chart(id, {
        data: [],
    });
    $(document).ready(function () {
        createCharts(chart);
        chart.render();
    });

    

    $(".variables-list").on("click", ".variable-row", function () {
        var clickedId = $(this).attr("id");
        selectVariable(clickedId, chart);
    });

    $(".variables-list").on("mouseenter", ".variable-row", function () {
        var clickedId = $(this).attr("id");
        hoverVariable(clickedId, chart);
    });

    $(".variables-list").on("mouseleave", ".variable-row", function () {
        cancelHoverVariable(chart);
    });


    function addVariable() {
        var fakeId = createFakeId();
        var url = "/Inputs/AddVariable/?fakeId=" + parseInt(fakeId);
        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $(".variables-list").append(response);
                addNewSerieToChart(chart, fakeId);
                selectVariable(fakeId, chart);
            }
        });
        
    }

    $(".variables-list").on("click", ".remove-variable", function () {
        var id = $(this).parents(".panel").attr("id");
        removeSerieFromChart(chart, id);
        $(this).closest("form").remove();
        return false;
        
    });

    $(".variables-list").on("change", ".select-type", function () {
        var id = $(this).parents(".panel").attr("id");
        var url = "/Inputs/ChangeVariableType";
        var form = $(this).closest("form");
        $.ajax({
            url: url,
            type: "GET",
            data: form.serialize(),
            success: function (response) {
                form.replaceWith(response);              
                refreshSerie(id, chart);
                selectVariable(id, chart);
            }
        });

    });

    $(".variables-list").on("change", ".chart-data-input", function () {
        var id = $(this).parents(".panel").attr("id");
        var pos = $("#" + id + " .chart-data-input").index($(this));
        var value = parseFloat($(this).val());
    
        for (var i in chart.options.data) {
            var data = chart.options.data[i];
            if (data.name == id) {
                data.dataPoints[pos].x = value;
            }
        }
        chart.render();

    });
    

</script>
